@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    margin: 0;
    font-size: 16px;
    line-height: 1.8em;
    font-family: 'Raleway';
}
  
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    color: #65c2ba;
}
header {
  width: auto;
  display: block;
}
article {
    padding:0 1em;
  }

  section{
    margin: 1em;
    padding: 1em;
  }
  
  header, main {
    margin: 0 auto;
  }

  header {
    padding: 2em;
    text-align: center;
    background-image: url('./assets/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 100%;
    background-position-y: -300px;
    color: white;
    height: 400px;
  }
  header section {
    margin: 0 auto;
    max-width: 640px;
  }
  
  header img {
    max-width: 150px;
  }
  
  h1 {
    text-transform: uppercase;
    margin: 2em 0 0 0;
    color: #247e77;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  h3 {
    text-transform: uppercase;
    color: #247e77;
  }
  
  h3 {
    font-weight: bold;
    /* text-decoration: underline; */
  }
  
main {
    max-width: 1140px;
  }

  h4 {
    color: #65c2ba;
  }
  
  .exp_title h4,h5 {
      margin: 0;
      padding: 0;
  }
.exp_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.course, .skills {
    display: -ms-flexbox;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: stretch;
  }
  
  .course .title {
    color: #65c2ba;
    -ms-flex: 0 0 33.3%;
    flex: 0 0 33.3%;
    max-width: 33%;
  }
  
  .course .descrition {
    -ms-flex: 0 0 66.6%;
    flex: 0 0 66.6%;
    max-width: 66.6%;
  }
  
  .course .descrition p {
    padding-left: 1em;
  }
  
  .skills .column {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  
  .skills .column ul, ul.job-description {
    list-style-type: none;
  }
  
  .skills .column ul > li:before {
    content: "►";
    padding-right: 0.5em;
    color: #509e98;
  }
  
  .school, .job-title {
    text-transform: capitalize;
  }
  
  .school span, .job-title span {
    color: #889499;
    text-decoration: underline;
  }
  
  ul.job-description li:before{
    content: "✔";
    padding-right: 0.5em;
    color: #509e98;
  }
  
  footer {
   background: #1e1e1e;
   color: white;
   text-align: center;
  }

  footer h4 {
      color: white;
      font-size: 20px;
      padding-top: 10px;
      text-decoration: underline;
  }
  header hr {
      width: 10%;
  }
  main hr {
      width: 100%;
  }
  footer img{
      height: 20px;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
  }
  @media only screen and (max-width: 768px) {
    .course {
      display: block;
    }
  
    .course .title, .course .descrition {
      max-width: 100%;
    }
  }
  
  @media only screen and (max-width: 576px) {
    .skills {
      display: block;
    }
  
    .skills .column {
      max-width: 100%;
    }
  
    footer {
      text-align: center;
    }
  }